Source: ros-testing-tf2-kdl
Section: misc
Priority: optional
Maintainer: Tully Foote <tfoote@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake, ros-testing-ament-cmake-gtest, ros-testing-builtin-interfaces, ros-testing-geometry-msgs, ros-testing-orocos-kdl, ros-testing-rclcpp, ros-testing-tf2, ros-testing-tf2-msgs, ros-testing-tf2-ros, ros-testing-ros-workspace
Homepage: http://ros.org/wiki/tf2
Standards-Version: 3.9.2

Package: ros-testing-tf2-kdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-builtin-interfaces, ros-testing-geometry-msgs, ros-testing-orocos-kdl, ros-testing-tf2, ros-testing-tf2-ros, ros-testing-ros-workspace
Description: KDL binding for tf2
