Source: ros-turbulent-tf2-msgs
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-turbulent-action-msgs, ros-turbulent-ament-cmake, ros-turbulent-builtin-interfaces, ros-turbulent-geometry-msgs, ros-turbulent-rosidl-default-generators, ros-turbulent-ros-workspace, ros-turbulent-rmw-connext-cpp, ros-turbulent-rmw-fastrtps-cpp, ros-turbulent-rmw-implementation, ros-turbulent-rmw-opensplice-cpp, ros-turbulent-rosidl-typesupport-connext-c, ros-turbulent-rosidl-typesupport-connext-cpp, ros-turbulent-rosidl-typesupport-opensplice-c, ros-turbulent-rosidl-typesupport-opensplice-cpp
Homepage: http://www.ros.org/wiki/tf2_msgs
Standards-Version: 3.9.2

Package: ros-turbulent-tf2-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-turbulent-action-msgs, ros-turbulent-builtin-interfaces, ros-turbulent-geometry-msgs, ros-turbulent-rosidl-default-runtime, ros-turbulent-ros-workspace
Description: tf2_msgs
